
#div1 {
  color: rgb(81, 0, 255);
  padding: 0%;
  text-align: center;
  margin-top: 0%;  
}

div.div2 {
  text-align: center;
}
div.div3 {
  text-align: center;
}
button::hover {
  background-color: rgb(244, 4, 48);
}
div.div3{
  width: 100%;
  align-items: center;
}
#div4 {
  height:100%;
  width:100%;
  Color:red;

}